@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}
h1, h3{
    font-weight: 600;
}
.weather-app{
    min-height: 100vh;
    background-image: url(./files/1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    opacity: 1;
    transition: 0.5s;
    color: white;
   
}
.weather-app::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.3);
    z-index: 0;
}
.container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 2em 3em 4em 3em;
}
.container > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.city-time,
.temp,
.weather{
    margin: 0 1em;
}

.city-time h1{
    margin: 0;
    margin-bottom: 0.2em;
    font-size: 3em;
}
.temp{
    font-size: 7em;
    margin: 0;
}
.weather img {
    display: block;
}
.panel {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgb(110, 110, 110, 0.25);
    box-shadow: 0 8px 32px 0;
    backdrop-filter: blur(4px);
    z-index: 1;
    padding: 3em 2em;
    overflow-y: scroll;
    font-size: 1.2em;
}
h4{
    margin: 20px 0px;
}
h3.brand{
    font-size: 2.5em;
    cursor: pointer;
}
.submit{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5em;
    margin: 0;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    font-size: 1.2em;
    transition: 0.4s;
    border-radius: 30%;
}
.submit:hover{
    background-color: #ffffff28 !important;
    border-radius: 50%;
}
::placeholder{
    color: rgb(223, 223, 223);
}

.search{
    background: none;
    border: none;
    border-bottom: 1px #ccc solid ;
    padding: 0 1em 0.5em 0;
    width: 80%;
    color: #fff;
    font: 1.1em;
    font-size: 1em;
    
}
.search:focus{
    outline:  none;
    color: #ccc;
}
form {
    padding-bottom: 50px;
}
.panel ul{
    padding: 0 0 1em 0;
    margin: 2em 0;
    border-bottom: 1px solid #ccc;
}
.panel ul li{
    color: #ffffff;
    margin: 2.5em 0;
}
.panel ul h4{
    margin: 3em 0;
}

.city{
    display: block;
    cursor: pointer;
}
.city:hover{
    color: #c7c7c7;
}
.details li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 800px){
    .panel, .container{
        position: relative;
        width: 100%;
        top: inherit;
    }
}

@media screen and (max-width: 500px){
    html{
        font-size: 12px;
    }
}
@media screen and (max-height: 300px) {
    .weather-app {
        min-height: 40em;
    }
}
.wrapper{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;

}
